<div class="container-fluid">
  <nav class="navbar">
  <div class="brand-name">
   <h1>Ashok Bejo</h1>
  </div>
  </nav>
  <div class="lightswitch">
    <button class="btn btn-primary lightsoff">lights off</button>
    <button class="btn btn-primary lightson">lights On</button>
  </div>
  <div class="imglayer">
    <img class="imglight" src="../assets/Night_4.png">
    
  </div>
  
    <h4>
   <span>{{time | date:'mediumTime'}}</span>
  </h4>
  <div>  <img class="motorbike" src="../assets/kisspng-bicycle-cycling-cartoon-clip-art-riding-a-man-5aa949a1816e66.2114753015210438735302 (1).png">
  </div>
</div>